<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.rectorlee.mapper.UserMapper">
    <resultMap id="UserResult" type="top.rectorlee.entity.User">
        <result property="id" column="id" />
        <result property="userName" column="user_name" />
        <result property="password" column="password" />
    </resultMap>

    <select id="getUserByUserName" parameterType="string" resultMap="UserResult">
        select * from user where user_name = #{userName};
    </select>

    <select id="getRoleNameByUserName" parameterType="string" resultType="string">
        select role_name from role where id in (
            select role_id from role_user where user_id = (
                select id from user where user_name = #{userName}
            )
        )
    </select>

    <select id="getPermissionByRoleNames" parameterType="java.util.List" resultType="string">
        select info from permission where id in (
            select permission_id from role_permission where role_id in (
                select id from role where role_name in (
                    <foreach collection="roleNames" item="item" separator=",">
                        #{item}
                    </foreach>
                )
            )
        )
    </select>
</mapper>
